name: Latest Hashnode Posts

on:
  schedule:
    - cron: "*/10 * * * *"
  workflow_dispatch: # Run workflow manually

jobs:
  update-readme-with-hashnode-blog:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Fetch Hashnode posts
        uses: aishwaryasubbiah/fetch-hashnode-articles@main
        with:
          max_post_count: 5
          hashnode_url: "aishwaryas.hashnode.dev"
          updateReadMe: true
          readmePath: "README.md"


      - name: Commit update
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add README.md
          git commit -m "Update blog list" || exit 0
          git push
